  /.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
database/factories/CustomerFactory.php
database/migrations/2024_07_03_120413_create_logs_table.php
/public/CustomerImage
/public/AdminImage
/public/MerchantImage
/public/EmployeeImage
/public/BranchImage
/public/ProductImage
/public/QrImage
/public/OfferImage
/public/AdvertisementImage
/config/firebase_credentials.json
composer.lock
